@tailwind base;
@tailwind components;
@tailwind utilities;


.rounded-4xl {
  border-radius: 2rem;
}

.rounded-t-4xl {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.rounded-t-3xl {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.border-10 {
    border-width: 10px;
}